  <%= simple_form_for([:admin, @member],as: :member, :html => {novalidate: true}) do |f| %>

  <div class="form-group">
    <%= f.input :username, input_html:{class:'form-control'} %>
  </div>
  
  <div class="form-group">
    <%= f.input :password, input_html:{class:'form-control'} %>
  </div>
  
  <div class="form-group">
    <%= f.input :email, input_html:{class:'form-control'} %>
  </div>
  
  <div class="form-group">
    <%= f.input :phone, input_html:{class:'form-control'} %>
  </div>
  
  <div class="form-group">
     <%=f.select :type, @types, :prompt=>"请选择"%> 
  </div>

  <div class="form-group">
     <%=f.select :status, @statuses, :prompt=>"请选择"%> 
  </div>

  <div class="form-group">
    <%= f.button :submit, class:'btn btn-default' %>
  </div>
  <%end%>