<h3>更新用户</h3>
<%= simple_form_for(@member,url: admin_member_path(@member), method: :patch, :html => {novalidate: true, multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :username, input_html:{class:'form-control'} %>
  </div>
  
  <div class="form-group">
    <%= f.input :password, input_html:{class:'form-control'} %>
  </div>
  
  <div class="form-group">
    <%= f.input :email, input_html:{class:'form-control'} %>
  </div>
  
  <div class="form-group">
    <%= f.input :phone, input_html:{class:'form-control'} %>
  </div>

  <div class="form-group">
     <%=f.select :status, @statuses, :prompt=>"请选择"%> 
  </div>

  <div class="form-group">
    <%= f.button :submit, class:'btn btn-default' %>
  </div>
<% end %>