<h3>用户列表</h3>
<table class="table">
   <thead>
      <tr>
         <td>用户名</td>
         <td>邮箱</td>
         <td>电话</td>
         <td>类型</td>
         <td>状态</td>
         <td>创建时间</td>
      </tr>
   </thead>
 <tbody>
 <% @members.each do |member| %>
   <tr>
      <td><%= member.username%></td>
      <td><%= member.email%></td>
      <td><%= member.phone%></td>
      <td><%= member.type%></td>
      <td><%= member.status%></td>
      <td><%= member.created_at%></td>
      <td><%= link_to '查看', admin_member_path(member) %>
      <%= link_to '编辑', edit_admin_member_path(member) %>
      <%= link_to '删除',  admin_member_path(member),method: :delete, data: { confirm: '确定删除?' }%></td>
    </tr>
 <% end %>
 </tbody>
</table>

<%= link_to '新建用户', new_admin_member_path %>
