<%= simple_form_for([:admin, @post], as: :post, :html => {novalidate: false, multipart: true}) do |f| %>
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@post.errors.count, "error") %>.
    </div>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="form-group">
    <%= f.input :title,input_html:{class:'form-control'} %>
  </div>

  <div class="field">
    <%=f.label :image%>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  </br>
  <div class="form-group">
     <%=f.label :category_id%>
     <%=f.select :category_id, @categories, :prompt=>"请选择"%> 
  </div>
  <div class="form-group">
    <div class="controls">
      <label class="checkbox">是否为活动</label>
      <%=f.collection_radio_buttons :type, [[Activity, '是（活动预告）'] ,[Post, '否（总结）']], :first, :last%>
    </div>

  </div>
  
  <div class="form-group">
     <%=f.label :status%>
     <%=f.select :status, @statuses, :prompt=>"请选择"%> 
  </div>
  
  <div class="form-group">
    <%= f.input :content, class:'summernote' %>
  </div>

  <div class="form-group">
    <%= f.button :submit, class:'btn btn-default' %>
  </div>
<% end %>