<h3>文章列表</h3>
<%= link_to '新建文章', new_admin_post_path %>
<table class="table">
   <thead>
      <tr>
         <td width="15%">文章标题</td>
         <td width="30%">文章内容</td>
         <td width="10%">类型</td>
         <td width="10%">状态</td>
         <td width="10%">创建时间</td>
         <td width="10%">修改时间</td>
         <td width="15%">操作</td>
      </tr>
   </thead>
 <tbody>
<% @posts.each do |post| %>
   <tr>
      <td><%= truncate(post.title,:length=>30) %></td>
      <td><%= truncate(strip_tags(post.content), :length=>50) %></td>
      <td><%= post.type%></td>
      <td><%= post.status%></td>
      <td><%= post.created_at%></td>
      <td><%= post.updated_at%></td>
      <td><%= link_to '查看', admin_post_path(post) %>
      <%= link_to '编辑', edit_admin_post_path(post) %>
      <%= link_to '删除',  admin_post_path(post),method: :delete, data: { confirm: '确定删除?' }%></td>
    </tr>
<% end %>
 </tbody>
</table>
<%= will_paginate @posts %>

