<h3>文章内容</h3>
<h2><%= @post.title%></h2>
<%= image_tag(@post.image_url(:large)) if !@post.image.nil? %>
<%= raw(@post.content) %>
<br/>
<%= link_to '更新', edit_admin_post_path(@post) %> |
<%= link_to '返回列表', admin_posts_path %>

