<p id="notice"><%= notice %></p>

<h3>栏目信息</h3>

<table class='table'>
  <thead>
    <tr>
      <th>栏目名</th>
      <th>栏目描述</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name%></td>
        <td><%= truncate(strip_tags(category.desc),:length=>100)%></td>
        <td><%= link_to '查看', admin_category_path(category) %></td>
        <td><%= link_to '编辑', edit_admin_category_path(category) %></td>
        <td><%= link_to '删除', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建栏目', new_admin_category_path %>
