<%= render "shared/header" %>
<!--- content ---->
		<!--- container ---->
		<div class="container">		
			<div class="tight row">
				<div class="col-md-9">
				<h2><%=@category.name%></h2>
				<%= raw(@category.desc) %>
				<% @posts.each do |post| %>
				  <div class="post-list-item">   
						<%= link_to post.title, post_path(post),{:class => "post-list-title"} %><br>
						<%= truncate(strip_tags(post.content), :length=>400) %>
				  </div>
                <% end %>
            </div>
            <div class="col-md-3">
	          <h4>最新动态</h4>
	          <% @latest_posts.each do |post| %>
	            <%= link_to post.title, post_path(post) %><br>
	          <% end %>
	       </div>
		   </div>
    </div> 
    <%= render "shared/footer" %>