  <%= render "shared/header" %>
<!--- content ---->
		<!--- container ---->
		<div class="container">		
			<div class="tight row">
				<div class="col-md-9">
				<h2><%= @post.title%></h2>
				<%= raw(@post.content) %>
            </div>
            <div class="col-md-3">
	          <h4>最新动态</h4>
	          <% @latest_posts.each do |post| %>
	            <%= link_to post.title, post_path(post) %><br>
	          <% end %>
	       </div>
		   </div>
    </div> 
<%= render "shared/footer" %>